page-home {
  #fondo {
      background-image: url("../../assets/imgs/imagen\ de\ fondo.jpg");
      background-size: contain;
      background-position: bottom;
      background-repeat: no-repeat;
         
  }
}
